* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.profile-container {
  height: auto;
  /* width: 80%; */
  max-width: 600px;
  background-color: #f4f1f8;
  color: #2d2a32;
  padding: 2rem 3rem;
  margin: 1rem auto;
  border-radius: 8px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.profile-card,
header {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.profile-photo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position of the image is centerized and then adjusted to focus the face*/
  object-position: center 45%;
  /* zoom the face */
  transform: scale(1.2);
}

header h1 {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #334155;
  font-size: 2rem;
}

.designation-1 {
  display: block;
}

header p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
}

.about p {
  text-align: justify;
  font-size: 1rem;
}

.social {
  width: 80%;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  font-size: 2.3rem;
}

.fa-github {
  color: #1f2328;
}

.fa-linkedin {
  color: #0a66c2;
}

/* Target the icon specifically */
.fa-instagram {
  /* Official Instagram brand gradient colors */
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );

  /* Clips the background gradient to the shape of the icon font */
  -webkit-background-clip: text;
  background-clip: text;

  /* Makes the original font color transparent so the gradient shows through */
  -webkit-text-fill-color: transparent;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.btn {
  height: 2.4rem;
  width: 6rem;
  font-size: 1.1rem;
  padding: 2px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.msg {
  background: #6366f1;
}

.follow {
  background: #1b9949;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
}
