* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.profile-card,
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-photo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position of the image is centerized and then adjusted to focus the face*/
  object-position: center 45%;
  /* zoom the face */
  transform: scale(1.2);
}
