* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.profile-container {
  height: auto;
  width: 80%;
  background-color: #f4f1f8;
  color: #2d2a32;
  padding: 2rem 3rem;
  margin: 0 auto;
}

.profile-card,
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.profile-photo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position of the image is centerized and then adjusted to focus the face*/
  object-position: center 45%;
  /* zoom the face */
  transform: scale(1.2);
}

header h1 {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #334155;
}
